/* Main Stylesheet */

/* Banner and Title */
.banner {
    display: flex;
    width: 100%;
    height: 300px;
    background-image: url(../images/Mountain_Banner.jpg);
    background-size: 1536px 300px;
}

.title {
    align-self: center;
    padding-left: 10px;
}

.title h1 {
    font-size: 56px;
    color: ghostwhite;
    margin-top: 90px;
}

.title p {
    font-size: 24px;
    color: ghostwhite;
    margin-bottom: 90px;
}

/* About Me */
.about {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    margin: 0 auto;
}

.about h1 {
    margin-top: 10px;
    font-size: 48px;
    color: #4acaa8;
}

.about h2 {
    font-size: 28px;
    color: #777;
}

.about p {
    font-size: 20px;
    color: #888;
}

/* Interests */
.interests {
    border-top: 3px dashed #f4f4f4;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    margin: 0 auto;
}

.interests h1 {
    margin-top: 10px;
    font-size: 48px;
    color: #4acaa8;
}

.interests h2 {
    font-size: 28px;
    color: #777;
}

.interests p {
    font-size: 20px;
    color: #888;
}

.interests ul {
    list-style: none;
    color: #888;
    font-size: 20px;
    margin-top: 25px;
}

.interests li:not(:first-child) {
    margin-top: 30px;
}

.interests .fas {
    color: ghostwhite;
}

.interests .icon-background {
    color: #4acaa8;
}

/* Experience */
.experience {
    border-top: 3px dashed #f4f4f4;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    margin: 0 auto;
}

.experience h1 {
    margin-top: 10px;
    font-size: 48px;
    color: #4acaa8;
}

.experience h2 {
    font-size: 24px;
    color: #777;
}

.experience p {
    font-size: 18px;
    color: #888;
}

.experience .row {
    margin: 30px;
    margin-left: 0px;
}

.experience .panel {
    border-color: #777;
}

div.panel.panel-default {
    margin: 0px;
}

.experience .panel-body {
    color: #888;
    font-size: 16px;
}

.experience .panel-default>.panel-heading {
    font-size: 20px;
    color: ghostwhite;
    background-color: #4acaa8;
    border-color: #777;
}

.experience .row {
    display: flex;
}

.experience .col-md-6 {
    align-self: center;
}

.experience .img-responsive {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #777;
}

/* Side Navigation Bar */
.sidenav {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #4acaa8;
}

.sidenav .profile{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 40%;
    padding-top: 8%;
    padding-bottom: 8%;
}

.sidenav .links {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 40%;
    width: 100%;
    height: 40%;
    display: flex;
}

.sidenav .links .about-link {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 33.33%;
}

.sidenav .links .about-link p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4acaa8;
    color: white;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #777;
}

.sidenav .links .interests-link {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 33.33%;
    width: 100%;
    height: 33.33%;
}

.sidenav .links .interests-link p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4acaa8;
    color: white;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #777;
}

.sidenav .links .experience-link {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 66.66%;
    width: 100%;
    height: 33.33%;
}

.sidenav .links .experience-link p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4acaa8;
    color: white;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #777;
}

.sidenav .contact {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 82%;
    height: 14%;
    width: 80%;
    background-color: white;
}

#no-pad {
    padding: 0px;
}
